.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;

}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 70vh;
  align-items: center;
}

.landingMainContainer>div:nth-child(1) {
  font-size: 1.7rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.landingMainContainer>div:nth-child(2) img {
  height: 60vh;
  width: auto;
}


.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #351741;
  color: #fff;
  padding: 12px 24px;
  box-shadow: 0px 2px 6px rgba(55, 48, 87, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navBar .rightNav {
  display: flex;
  align-items: center;
  gap: 12px; /* spacing between history and logout */
}

.navBar .rightNav p {
  margin: 0;
  font-size: 14px;
  color: #ddd;
}

.navBar h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.navBar p {
  margin-left: 6px;
  font-size: 14px;
  color: #ddd;
}

/* Main Container */
.meetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: calc(100vh - 70px);
  background: linear-gradient(135deg, #f9f9ff, #eef3ff);
  gap: 40px;
}

/* Left Panel */
.leftPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: inline 5px;
}

.leftPanel img {
 
  width: 35vw;   
  max-width: 520px; 
  height: auto;
  border-radius: 16px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

/* Right Panel */
.rightPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
  padding: 20px; 
}

.rightPanel h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Form Styling */
.rightPanel div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightPanel .MuiTextField-root {
  width: 220px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

.rightPanel button {
  height: 56px;
  padding: 0 24px;
  font-size: 15px;
  border-radius: 8px;
 
}

/* Responsive */
@media (max-width: 768px) {
  .meetContainer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .leftPanel img {
    max-width: 300px;
    margin-bottom: 10px;
  }
}
